server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8002
          predicates:
            - Path=/api/auth/**,/api/images/**,/api/assessments/**
        - id: report-service
          uri: http://localhost:8003
          predicates:
            - Path=/api/reports/**